* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.backImg .back {
  z-index: -200;
  position: fixed;
  height: 100%;
  width: 100%;
}

.box {
  height: 1600px;
  width: 200px;
  background-color: #7877778f;
  position: absolute;
  top: 65%;
  left: 3.5%;
  transform: translate(-50%, -50%);
}
.box .boxTitle {
  display: flex;
  flex-direction: row;
}
.box .boxTitle .subs .titleSubs {
  margin-right: 30px;
  color: #ffffff;
  margin-left: 10px;
}
.box .boxTitle .menu .toggler {
  width: 25px;
  height: 25px;
  background-color: #7877778f;
  border-radius: 20%;
}

.box-2 {
  height: 1600px;
  width: 70px;
  background-color: #7877778f;
  position: absolute;
  top: 65%;
  left: 1%;
  transform: translate(-50%, -50%);
}
.box-2 .boxTitle .subs {
  display: none;
}
.box-2 .boxTitle .subs .titleSubs {
  display: none;
}
.box-2 .boxTitle .menu {
  margin-top: 20px;
  margin-left: 28px;
}
.box-2 .boxTitle .menu .toggler-2 {
  width: 25px;
  height: 25px;
  background-color: #7877778f;
  border-radius: 20%;
}

.items {
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}
.items .item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 320px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  z-index: -1;
  opacity: 0;
}
.items .button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1300px;
  z-index: 100;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item.active {
  opacity: 1;
  z-index: 99;
}

.item.prev {
  z-index: 2;
  opacity: 0.25;
  transform: translate(-125%, -50%);
}
.item.prev img {
  margin-top: 40px;
  width: 100%;
  height: 80%;
}

.item.next {
  z-index: 2;
  opacity: 0.25;
  transform: translate(25%, -50%);
}
.item.next img {
  margin-top: 40px;
  width: 100%;
  height: 80%;
}

.button-container .button {
  color: #fff;
  font-size: 32px;
  cursor: pointer;
  position: relative;
  opacity: 0.75;
  transition: all 300ms ease-in-out;
}
.button-container .button:hover {
  opacity: 0.5;
}
.button-container .button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  z-index: -99;
}
.button-container .button:nth-child(1) {
  float: left;
}
.button-container .button:nth-child(2) {
  float: right;
}

.liveTitle {
  position: absolute;
  top: 36%;
  left: 20%;
  transform: translate(-50%, -50%);
  font-size: x-large;
  color: #ffffff;
}

.liveStreams {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 15px;
  position: unset;
  margin-top: 17em;
  /* top: 60%;
  left: 50%; */
  /* transform: translate(0%, 10%); */
}
.liveStreams .card {
  background-color: #78777747;
}
.liveStreams .card .card-image .image {
  padding-top: 60%;
}
.liveStreams .card .card-image .image img {
  height: 100%;
  width: 100%;
}
.liveStreams .card .card-image .liveImg {
  z-index: 2000;
  padding: 0px;
  position: absolute;
  top: 3%;
  left: 12%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 50px;
}
.liveStreams .card .card-content {
  padding-top: 5px;
  padding-left: 5px;
}
.liveStreams .card .card-content .media .media-left {
  margin-left: 1rem;
  margin-right: 0;
}
.liveStreams .card .card-content .media .media-left .image img {
  height: 70%;
  width: 70%;
}
.liveStreams .card .card-content .media .media-content p {
  color: #ffffff;
  padding-left: 5px;
}
.liveStreams .card .card-content .media .media-content h4 {
  color: #ffffff;
  padding-left: 5px;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 0px;
}
.liveStreams .card-2 {
  box-shadow: 0px 0px 27px 13px lightgrey;
  border: none;
  border-radius: 0%;
  background-color: #78777747;
}
.liveStreams .card-2 .card-image .image {
  padding-top: 60%;
}
.liveStreams .card-2 .card-image .image img {
  height: 100%;
  width: 100%;
}
.liveStreams .card-2 .card-image .liveImg {
  z-index: 2000;
  padding: 0px;
  position: absolute;
  top: 3%;
  left: 12%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 50px;
}
.liveStreams .card-2 .card-content {
  padding-top: 5px;
  padding-left: 5px;
}
.liveStreams .card-2 .card-content .media .media-left {
  margin-left: 1rem;
  margin-right: 0;
}
.liveStreams .card-2 .card-content .media .media-left .image img {
  height: 70%;
  width: 70%;
}
.liveStreams .card-2 .card-content .media .media-content p {
  color: #ffffff;
  padding-left: 5px;
}
.liveStreams .card-2 .card-content .media .media-content h4 {
  color: #ffffff;
  padding-left: 5px;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 0px;
}

.related {
  position: absolute;
  top: 88%;
  left: 20.5%;
  transform: translate(-50%, -50%);
  font-size: x-large;
  color: #ffffff;
}

.relatedStreams {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 15px;
  margin-top: 4em;
  /* transform: translate(0%, 25%); */
}
.relatedStreams .card {
  background-color: #78777747;
}
.relatedStreams .card .card-image .image {
  padding-top: 60%;
}
.relatedStreams .card .card-image .image img {
  height: 100%;
  width: 100%;
}
.relatedStreams .card .card-content {
  padding-top: 10px;
  padding-left: 6px;
}
.relatedStreams .card .card-content .media .media-left .image img {
  height: 70%;
  width: 70%;
}
.relatedStreams .card .card-content .media .media-content p {
  color: #ffffff;
}
.relatedStreams .card-2 {
  box-shadow: 0px 0px 27px 13px lightgrey;
  border: none;
  border-radius: 0%;
  background-color: #78777747;
}
.relatedStreams .card-2 .card-image .image {
  padding-top: 60%;
}
.relatedStreams .card-2 .card-image .image img {
  height: 100%;
  width: 100%;
}
.relatedStreams .card-2 .card-content {
  padding-top: 10px;
  padding-left: 6px;
}
.relatedStreams .card-2 .card-content .media .media-left .image img {
  height: 70%;
  width: 70%;
}
.relatedStreams .card-2 .card-content .media .media-content p {
  color: #ffffff;
}

.container {
  display: none;
}

.container-2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000a6;
}

.exit {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 18%;
  left: 65%;
  transform: translate(-50%, -50%);
}

form.login {
  width: 30vw;
  height: 55vh;
  min-width: 300px;
  min-height: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #650085;
  border-radius: 25px;
}

.login h2 {
  font-size: 35px;
  color: white;
  margin: 24px 0 0 0;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.login fieldset {
  display: flex;
  flex-direction: column;
  width: 90%;
  border: none;
  padding: 0 10px;
  margin-top: 20px;
}
.login fieldset legend {
  font-size: 18px;
  letter-spacing: 2px;
  color: white;
  width: fit-content;
  padding: 0 4px;
}
.login fieldset input {
  width: 100%;
  border: none;
  background: none;
  color: white;
  font-size: 25px;
  padding: 0 3px 3px 3px;
  margin: 5px 0 8px 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.76);
  transition: border-bottom 0.5s;
}
.login input[type=submit] {
  border: none;
  background-color: white;
  font-size: 19px;
  font-weight: 500;
  padding: 7px 12px;
  margin: 30px 0 0 0;
  border-radius: 3px;
  cursor: pointer;
  transition: transform 0.1s;
}
.login input[type=submit]:hover {
  transform: scale(1.1);
}
.login input[type=submit]:active {
  transform: scale(0.9);
}
.login span {
  color: white;
  font-size: 18px;
  margin: auto 0 20px 0;
}
.login span a {
  color: white;
  font-weight: 600;
}

a.yt {
  color: white;
  background-color: #ff3c0a;
  padding: 10px 15px;
  text-decoration: none;
  margin-top: 40px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  transition: transform 0.4s;
}
a.yt:hover {
  transform: scale(1.05);
}

#cc {
  margin-top: 10px;
  color: white;
  font-size: 18px;
  background-color: #000000bd;
  border-radius: 15px;
}
#cc a {
  color: white;
  font-size: 18px;
}

@media (min-width: 320px) and (max-width: 374px) {
  .box {
    display: none;
  }

  .box-2 {
    display: none;
  }

  .items {
    top: 21%;
  }
  .items .item {
    width: 120px;
    height: 120px;
  }
  .items .button-container .button:before {
    width: 20px;
    height: 20px;
  }
  .items .button-container {
    transform: translate(-50%, 40%);
    width: 270px;
    height: 210px;
  }
  .items .button-container .button {
    font-size: 0;
  }

  .liveTitle {
    top: 45%;
    left: 27.5%;
    background-color: rgba(0, 0, 0, 0.472);
    border-radius: 5px;
  }

  .liveStreams {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .related {
    top: 587%;
    left: 30.5%;
    background-color: rgba(0, 0, 0, 0.472);
    border-radius: 5px;
  }

  .relatedStreams {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 5em;
  }
  .relatedStreams .card {
    display: flex;
    justify-content: space-between;
  }
  .relatedStreams .card .card-image {
    width: 100%;
    height: 100%;
  }
  .relatedStreams .card .card-image .image {
    padding-top: 74%;
  }
  .relatedStreams .media {
    flex-wrap: wrap;
    align-items: flex-end;
    flex-direction: column;
  }
  .relatedStreams .media-content {
    color: blanchedalmond;
    text-align: center;
  }
}
@media (min-width: 375px) and (max-width: 424px) {
  .box {
    display: none;
  }

  .box-2 {
    display: none;
  }

  .items .item {
    width: 140px;
    height: 140px;
  }
  .items .button-container .button:before {
    width: 20px;
    height: 20px;
  }
  .items .button-container {
    transform: translate(-50%, 40%);
    width: 335px;
    height: 210px;
  }
  .items .button-container .button {
    font-size: 0;
  }

  .liveTitle {
    top: 45%;
    left: 22.5%;
    background-color: rgba(0, 0, 0, 0.472);
    border-radius: 5px;
  }

  .liveStreams {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .related {
    top: 645%;
    left: 26.5%;
    background-color: rgba(0, 0, 0, 0.472);
    border-radius: 5px;
  }

  .relatedStreams {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .relatedStreams .card {
    display: flex;
    justify-content: space-between;
  }
  .relatedStreams .card .card-image {
    width: 100%;
    height: 100%;
  }
  .relatedStreams .media {
    flex-wrap: wrap;
    align-items: flex-end;
    flex-direction: column;
  }
  .relatedStreams .media-content {
    color: blanchedalmond;
    text-align: center;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  .box {
    display: none;
  }

  .box-2 {
    display: none;
  }

  .items .item {
    width: 140px;
    height: 140px;
  }
  .items .button-container .button:before {
    width: 20px;
    height: 20px;
  }
  .items .button-container {
    transform: translate(-50%, 40%);
    width: 335px;
    height: 210px;
  }
  .items .button-container .button {
    font-size: 0;
  }

  .liveTitle {
    top: 45%;
    left: 22.5%;
    background-color: rgba(0, 0, 0, 0.472);
    border-radius: 5px;
  }

  .liveStreams {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .related {
    top: 703%;
    left: 26.5%;
    background-color: rgba(0, 0, 0, 0.472);
    border-radius: 5px;
  }

  .relatedStreams {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .relatedStreams .media {
    flex-wrap: wrap;
  }
  .relatedStreams .media .media-content {
    color: blanchedalmond;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .box {
    display: none;
  }

  .box-2 {
    display: none;
  }

  .items {
    top: 21%;
  }
  .items .item {
    width: 140px;
    height: 140px;
  }
  .items .button-container .button:before {
    width: 20px;
    height: 20px;
  }
  .items .button-container {
    transform: translate(-50%, 40%);
    width: 335px;
    height: 210px;
  }
  .items .button-container .button {
    font-size: 0;
  }

  .liveTitle {
    top: 45%;
    left: 22.5%;
    background-color: rgba(0, 0, 0, 0.472);
    border-radius: 5px;
  }

  .liveStreams {
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .related {
    top: 587%;
    left: 26.5%;
    background-color: rgba(0, 0, 0, 0.472);
    border-radius: 5px;
  }

  .relatedStreams {
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    top: 655%;
  }
  .relatedStreams .media {
    flex-wrap: wrap;
  }
  .relatedStreams .media-content {
    color: blanchedalmond;
  }
}
/* @media (max-width: 1440px) {

    .box {
        top: 79%;
        left: 4.5%;
    }

    .box-2 {
        top: 79%;
        left: 1%;
    }

    .items {
        top: 21%;
        left: 51%;
    }

    .liveTitle{
        top: 40%;
        left: 19%;
    }

    .liveStreams {
        grid-template-columns: 250px 250px 250px 250px 250px;
        grid-template-rows: 200px 200px;
        top: 80%;
        left: 53%;

        .card {
            .card-content {
                .media {
                    .media-content {
                        p {
                            color: #ffffff;
                            padding-left: 5px;
                        }

                        h4 {
                            color: #ffffff;
                            padding-left: 5px;
                            font-size: 20px;
                            font-weight: bolder;
                            margin-bottom: 0px;
                        }
                    }
                }
            }
        }
    }

    .relatedStreams {
        grid-template-columns: 250px 250px 250px 250px 250px;
        grid-template-rows: 200px;
        top: 102%;
        left: 53%;
    }

    .related {
        top: 91%;
        left: 20.5%;
    }
}
 */

/*# sourceMappingURL=styles.css.map */
